.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.serch-сheckbox{
  position: relative;
  padding: 3px 0;
  padding-left: 40px;
  cursor: pointer;
}
.serch-сheckbox input[type="checkbox"] + .checkbox-indicator{
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background: url(../img/checkbox-off.png);
  background-repeat: no-repeat;
  background-position: center left;
}

.serch-сheckbox input[type="checkbox"]:checked + .checkbox-indicator{
  background: url(../img/checkbox-on.png);
}