body{
  text-transform: uppercase;
  font-size: 16px;
   font-family: 'PT Sans', sans-serif;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
button:focus{
  outline: none;
}

.appointmentWrap{
  height: 480px;
  width: 570px;
  border: 1px solid red;
  background-color: #ffffff;
}
.formHeader{
  display: block;
  width: 100%;
  background-color: #81b3d2;
  text-align: center;
  font-style: inherit;
  text-transform: uppercase;
  font-size: inherit;
}
.formHeader h3{
  margin: 0;
  padding: 34px 0;
  color: #ffffff;
  font-size: 21px;
}
.formHeader:active .formHeader_text{
  opacity: 0.5;
}
form{
  padding: 0 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: bold;
}

form p{
  display: flex;
  align-items: center;
}

form p:nth-child(-n+2){
  width: 100%;
  justify-content: space-between;
}

input{
  font: inherit;
  border: none;
}

input:focus{
  outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator{
  opacity: 0;
}
input[type="date"]{
  flex-grow: 0.9;
  background: url(../img/Calendar.png);
  background-repeat: no-repeat;
  background-position: center right;
}
input[type="number"]{
  width: 60px;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.button{
  
  width: 20px;
  height: 20px;
  position: relative;
}
.button::before{
  content:'';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}
.button_plus::after{
  content: '';
  position: absolute;
  width: 3px;
  height: 11px;
  background-color: #a9a9a9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button:hover::before,
.button:hover::after{
  background-color: #000;
}
.button:active::before,
.button:active::after{
  background-color: #81b3d2;
}

.button:focus::before,
.button:focus::after{
  background-color: #81b3d2;  
}

.mr30{
  margin-right: 30px;
}