.filter{
  background-color: rgb(139, 139, 250);
  background-image: url(../img/filter_bg.png);
  background-size: cover;
  background-position: 0px -300px;
  height: 217px;
  color: #FFF;
}
.serch{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: 74px;
  margin-right: 74px;
}
.serch-wrap{
  margin-right: 110px;
}
.filter-wrap{
  display: flex;
}










/* temp */

