/* main style */
body{
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}
ul{
  list-style: none;
  padding: 0;
}
h1{
  font-size: 22px;
}
h2{
  font-size: 22px;
}
h3{
  font-size: 21px;
}
.container{
  width: 1200px;
  margin: 0 auto;
}

/* header */
.main-header{
  text-align: center;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
}
.main-header p{
  margin: 35px 0;
}
.header-logo{
  margin-top: 75px;
  margin-bottom: 145px;
}
.main-navigation{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.site-navigation{
  margin: 0;
  display: flex;
}
.site-navigation a{
  display: inline-block;
  padding: 20px 70px;
  font-weight: 700;
}
.site-navigation a:hover{
  color: #81b3d2;
}
.site-navigation a:active{
  color: #b2b2b2;
}
.main-header-logo{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
/* features */
.index-colums{
  display: flex;
  flex-wrap: wrap;
}
.features-item{
  width: 400px;
  min-height: 250px;
  background-color: #eeeeee;
  text-align: center;
  padding: 30px 0;
  box-sizing: border-box;
}
.features-image{
  overflow: hidden;
}
.features-image img{
  width: auto;
  height: 100%;
}
/* recommendation */
.recommendation{
  display: flex;
}
.recommendation-list{
  box-sizing: border-box;
  text-align: center;
  padding: 55px 65px;
}

.appointment{
  position: relative;
  text-align: center;
  min-height: 853px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appointment h2{
  font-size: 30px;
}
.appointment p{
  position: relative;
  z-index: 1;
}

.appointmentWrap{
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  top: 160px;
}
.map{
 position: absolute;
 bottom: 0;
 left: 0;
}

/* footer */
.footer{
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}
.contacts{
  margin: 30px 0;
  margin-left: 120px;
}
.contacts p{
  margin: 0;
  margin-bottom: 14px;
}
.developer{
  margin-right: 220px;
}