/* features */
.index-colums{
  display: flex;
  flex-wrap: wrap;
}
.features-item{
  width: 400px;
  min-height: 250px;
  background-color: #eeeeee;
  text-align: center;
  padding: 30px 0;
  box-sizing: border-box;
}
.features-image{
  overflow: hidden;
}
.features-image img{
  width: auto;
  height: 100%;
}
/* recommendation */
.recommendation{
  display: flex;
}
.recommendation-list{
  box-sizing: border-box;
  text-align: center;
  padding: 55px 65px;
}

.appointment{
  position: relative;
  text-align: center;
  min-height: 853px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appointment h2{
  font-size: 30px;
}
.appointment p{
  position: relative;
  z-index: 1;
}

.appointmentWrap{
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  top: 160px;
}
.map{
 position: absolute;
 bottom: 0;
 left: 0;
}