/* main style */
body{
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}
ul{
  list-style: none;
  padding: 0;
}
h1{
  font-size: 22px;
}
h2{
  font-size: 22px;
}
h3{
  font-size: 21px;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

/* header */
.main-header{
  text-align: center;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
}
.main-header p{
  margin: 35px 0;
}
.header-logo{
  margin-top: 75px;
  margin-bottom: 145px;
}
.main-navigation{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}
.site-navigation{
  display: flex;
}
.site-navigation a{
  padding: 20px 70px;
  font-weight: 700;
}
.main-header-logo{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
/* features */
.index-colums{
  display: flex;
  flex-wrap: wrap;
}
.features-item{
  width: 400px;
  min-height: 250px;
  background-color: #eeeeee;
  text-align: center;
  padding: 30px 0;
  box-sizing: border-box;
}
.features-image{
  overflow: hidden;
}
.features-image img{
  width: auto;
  height: 100%;
}
/* recommendation */
.recommendation{
  display: flex;
}
.recommendation-list{
  box-sizing: border-box;
  text-align: center;
  padding: 55px 65px;
}

.appointment{
  position: relative;
  text-align: center;
}

.appointment h2{
  font-size: 30px;
}
.appointment-wrap{
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  height: 480px;
  width: 570px;
  background-color: #fff;
}



/* form */
.form-header{
  background-color: #81b3d2;
  color: #fff;
  text-align: center;
}
.form-header h3{
  padding: 35px 0;
  margin: 0;
}

.form{
  margin: 0 54px;
  text-align: left;
}

.form-item{
  margin: 54px 0;
  display: flex;
  justify-content: space-between;
}

.form-item label{
  font-weight: 700;
}
.form-item input{
  border: none;
  font: inherit;
  font-weight: 700;
}

.form-item input[type="date"]{
  width: 320px;
}
.form-lable-number{
  margin-right: 40px;
}

.form-button-minus{
  background: url(../img/minus.png) 100% 100% no-repeat;
}
.form-button-plus{
  background: url(../img/plus.png);
}
.form-button{
  width: 14px;
  height: 14px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"]{
  width: 60px;
  text-align: center;
}
/* ======= */



